/* Main Styles */
html,
body {
  box-sizing: border-box;
}


html {
  background-color: crimson;
}

h1,
p {
  text-align: center;
  font-family: Tahoma, sans-serif;
}

h1 {
  color: hsl(0, 0%, 75%);
  text-shadow: 3px 1px #000;
}

p {
  padding-top: 5px;
}

.canvas {
  max-width: 75%;
  margin: 0 auto;
}

.container {
  width: 35%;
  margin: 0 auto;
  border-radius: 45%;
}

.color-container {
  margin: 0 auto;
}

.pixel {
  height: 25px;
  width: 25px;
  border: 1px solid black;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: white;
  float: left;
}

.palette {
  height: 75px;
  background-color: hsl(0, 0%, 80%);
  clear: both;
  margin-top: 50px 0 50px 50px;

}

.paint-color {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
}

.paint-color:first-of-type {
  margin-left: 20%;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.orange {
  background-color: orange;
}

.pink {
  background-color: pink;
}

.grey {
  background-color: grey;
}
