/* Main Styles */

html {
  background-color: crimson;
}

h1 {
  color: hsl(0, 0%, 75%);
  text-align: center;
}

.pixel {
  height: 25px;
  width: 25px;
  border: 1px solid black;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: white;
  float: left;
}

.palette {
  height: 75px;
  background-color: hsl(0, 0%, 75%);
  clear: both;

}

.paint-color {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.orange {
  background-color: orange;
}

.pink {
  background-color: pink;
}

.grey {
  background-color: grey;
}
